/*!
 * Data grid for status page at https://localize.typo3.org/
 * AG Grid community v34.3.1
 */
:root,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    --ag-font-size: 16px;
}

:where(.ag-ltr) .ag-cell:not(.ag-cell-inline-editing) {
    padding-left: calc(var(--ag-cell-horizontal-padding) /2 - 1px + var(--ag-row-group-indent-size)*var(--ag-indentation-level));
    padding-right: calc(var(--ag-cell-horizontal-padding) /2 - 1px);
}
.ag-cell a {
    text-decoration: none;
    :hover {
        text-decoration: underline;
    }
}
.ag-cell a:hover {
    text-decoration: underline;
}
.ag-header-cell, .ag-header-group-cell {
    padding: 0 calc(var(--ag-cell-horizontal-padding) /2);
}
.ag-header-cell-label {
    height: 100%;
}
.ag-header-cell-label, .ag-header-group-cell-label {
    align-items: baseline;
}
.ag-header-cell-label .ag-header-cell-text {
    margin-top: 40px;
}
.ag-header-cell-custom-languagestyle .ag-header-cell-label .ag-header-cell-text {
    display:inline-block;
    height: 90px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
}

.ag-sort-indicator-container {
    display: flex;
    gap: var(--ag-spacing);
}
:where(.ag-ltr) .ag-sort-indicator-icon {
    padding-left: 0;
}

.ag-theme-material {
    --ag-odd-row-background-color: #E04F00;
}
.ag-theme-material .ag-row-odd {
    background-color: var(--ag-odd-row-background-color);
}

.ag-row-even {
    background-color: #fafafa;
}

.t3-cell-element {
    font-size: calc(var(--ag-font-size));
    padding: 2px;
}
.t3-cell-color-blue .t3-cell-element {
    color: #03f;
}
.t3-cell-color-green .t3-cell-element {
    color: #090;
}
.t3-cell-color-red .t3-cell-element {
    color: #f00;
}
.t3-cell-unit-percent .t3-cell-element::after {
    content: "%";
}
